#billpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  background-color: lightblue;
}
#billdatediv{
  text-align: right;
}
#billnamediv{
  text-align: center;
  border-bottom: 1px solid blue;
}
#billtag,#billtotal{
  text-align: center;
}
#billtablediv{
  display: flex;
  justify-content: center;
}
#billtable{
  border-collapse: collapse;
}
#billtable th,td{
  width: 70px;
  border: 1px solid black;
  text-align: center;
  padding: 0;
}
#billtable input{
  background-color: lightblue;
  text-align: center;
  font-weight: 25;
  font-size: medium;
}


#billpagescreenshot{
  padding: 5px;
  background-color: lightblue;
  height: 40px;
  color: black;
}

.billnavdiv{
  position: fixed;
  bottom: 0px;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: rgba(173, 216, 230, 0.521);
  padding: 5px 0;
  border-radius: 20px;
}

#navmix{
  display: flex;
  justify-content: center;
}

#billpagesubmit{
  background-color: lightblue;
  color:black;
  height: 40px;
}

#bss{
  position: absolute;
  z-index: -1;
}
#bs{
  position: absolute;
}